{% extends "base_template.html" %}

{% block title %}
    <h1 id="title">Sackler-related Projects</h1>
{% endblock %}

{% block content %}
    <h2>Website to iCal Calendar Conversion</h2>
    
    <ul>
        <li><a href="calendar.ics">Sackler-wide calendar</a><br>Subscription URL: http://sackler.danielsenhwong.com/calendar.ics</li>
        <li><a href="calendar_cmdb.ics">CMDB program calendar (also merged Biochem and CMP)</a><br>Subscription URL: http://sackler.danielsenhwong.com/calendar_cmdb.ics</li>
        <li><a href="calendar_micro.ics">Micro program calendar</a><br>Subscription URL: http://sackler.danielsenhwong.com/calendar_micro.ics</li>
        <li><a href="calendar_neuro.ics">Neuroscience program calendar</a><br>Subscription URL: http://sackler.danielsenhwong.com/calendar_neuro.ics</li>
    </ul>
{% endblock %}
