{% extends "base_template.html" %}

{% block title %}
    <h1 id="title">Sackler-related Projects</h1>
{% endblock %}

{% block content %}
    <div>
        <h2>Website to iCal Calendar Conversion</h2>
        <div>
            <img src="{{ url_for('static', filename='images/schematic.png') }}">
            <p>This is a Python script that parses the Tufts Sackler School website calendar RSS feed into an iCal format that can be subscribed to in Google Calendar, Apple Calendar, Microsoft Outlook, and other similar programs. <b><u>Instructions</u></b> on how to subscribe to the feed can be found in this InSight Newsletter blog post, and reproduced below: <a href="http://sites.tufts.edu/insight/2016/03/05/sackler-website-calendar-now-available-in-ical-format/">Sackler Website Calendar now available in iCal format</a>.</p>
        </div>
        <div>
            <h2>Subscription Instructions</h2>

            <div>
                <h3>Google Calendar (calendar.google.com)</h3>
                <p><img src="{{ url_for('static', filename='images/Google_Calendar.png') }}" width="260px" height="300px" style="float: right; display: block;">Adding an iCal feed to Google Calendar To add the Sackler calendar to your list of calendars, open Google Calendar. Click the downward-pointing triangle to the right of “Other Calendars” that appears along the left side of the page, and select “Add by URL” from the menu. Enter the URL http://sackler.danielsenhwong.com/calendar.ics in the text box and click “Add Calendar”.  The new calendar should appear in the list, and the events will populate your calendar in a few seconds. Google Calendar will refresh this feed every few hours. The iCal feed can only be added to Google Calendar from a computer, and not the Android mobile phone application.</p>
            </div>
            <div>
                <h3>Apple Calendar (Apple OS X)</h3>
                <p><img src="{{ url_for('static', filename='images/Apple_Calendar.png') }}"  width="300px" height="145px" style="float: right;">To add the Sackler calendar to your list of calendars, open Apple Calendar, and select “New Calendar Subscription…” from the “File” menu. Enter http://sackler.danielsenhwong.com/calendar.ics as the Calendar URL in the text box and click “Subscribe”. The new calendar should appear in the list, and the events will populate your calendar in a few seconds. By default, Apple Calendar only updates calendar subscriptions once per week. To change the update frequency, right-click (Control+click) the “Sackler Website Calendar” entry in the list of calendars and select “Get Info”. The update frequency can be changed by selecting a different interval from the “Auto-refresh” option list.</p>
            </div>
            <div>
                <h3>Microsoft Outlook 2013</h3>
                <p><img src="{{ url_for('static', filename='images/Outlook_2013.png') }}"  width="300px" height="178px" style="float: right;">To add the Sackler calendar to your list of calendars, open Outlook and go to the Calendar pane. Select “Open Calendar” and “From Internet…”  from the middle of the “Home” ribbon across the top of the screen. Enter http://sackler.danielsenhwong.com/calendar.ics as the Calendar location in the text box and click “OK”. The “Advanced…” button will open a menu allowing you to change the name of the Calendar and the description I have provided. Click “Yes” to subscribe to the calendar. The new calendar should appear in the list, and the events will populate your calendar in a few seconds, after Outlook finishes processing the feed.</p>
            </div>
        </div>
        <div>
            <h2>Script Details</h2>
            <p>The information is re-formatted from the RSS feed into a more compact layout. In particular, the room number of an event is incorporated into the iCal Location information for an event in parentheses. This allows for human readability while maintaining compatability with Google Maps for mobile device users.</p>
            <p>The script is scheduled to run and update all defined calendars at 4 AM daily. However, individual calendar programs such as Google Calendar may not reflect recent changes for a few hours. This is a known issue with Google Calendar (<a href="https://productforums.google.com/forum/#!topic/calendar/7SgPSL-VgaY">Google Product Support Forum</a>).</p>
            <p>Source code is available on GitHub: <a href="https://github.com/danielsenhwong/sackler">danielsenhwong/sackler</a>.</p>
        </div>
        <div>
            <h2>Available Calendars</h2>
                <ul>
                    <li><a href="calendar.ics">Sackler-wide calendar</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar.ics</li>
                    <li><a href="calendar_cmdb.ics">CMDB program calendar (also merged Biochem and CMP)</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar_cmdb.ics</li>
                    <li><a href="calendar_gene.ics">Genetics program calendar</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar_gene.ics</li>
                    <li><a href="calendar_immuno.ics">Immunology program calendar</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar_immuno.ics</li>
                    <li><a href="calendar_micro.ics">Micro program calendar</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar_micro.ics</li>
                    <li><a href="calendar_neuro.ics">Neuroscience program calendar</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar_neuro.ics</li>
                    <li><a href="calendar_ppet.ics">PPET program calendar</a><br />Subscription URL: http://sackler.danielsenhwong.com/calendar_ppet.ics</li>
                </ul>
        </div>
    </div>
{% endblock %}
